@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #071952;
  --secondary-color: #088395;
  --tertiary-color: #37b7c3;
  --hover-color: #ebf4f650;

  --primary-font: 'Krona One', sans-serif;
  --secoundary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.header-content {
  padding: 2% 0% 0% 15%;
}

.header-content__menu {
  display: flex;
  gap: 80px;
}

.header-content__menu__link {
  font-family: var(--secoundary-font);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: var(--tertiary-color);
}

.apresentation {
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentation__leftContent {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentation__leftContent__title {
  font-size: 36px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
}

.highlight-title {
  color: var(--tertiary-color);
}

.apresentation__leftContent__text {
  font-size: 24px;
  font-family: var(--secoundary-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.apresentation__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentation__links__subtitle {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 24px;
}

.apresentation__links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--tertiary-color);
  width: 381px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secoundary-font);
  font-weight: 600;
}

.apresentation__links__link:hover {
  background-color: var(--hover-color);
  transition: background-color 0.5s ease-in-out;
}

.apresentation__photos__photo {
  border-radius: 8px;
}

.footer-content {
  padding: 24px;
  color: var(--primary-color);
  background: var(--tertiary-color);
  text-align: center;
  font-family: var(--secoundary-font);
  font-size: 24px;
  font-weight: 400;
}
