* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}

.highlight-title {
  color: #22d4fd;
}

.apresentation {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentation__leftContent {
  width: 615px;
  height: 482px;
}

.apresentation__leftContent__title {
  font-size: 36px;
}
.apresentation__leftContent__text {
  font-size: 24px;
}
