* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}

.highlight-title {
  color: #22d4fd;
}

.apresentation {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
